
<!-- Header del home -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Thanos-APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div class = "info-avatar">
    <ion-avatar slot="start">
      <ion-img src="assets/images/usuario.png" alt="Foto de usuario" />
    </ion-avatar>
  </div>

  <h1>{{username}}</h1>
    
    <div  class="grid-container">
      
      <ion-button (click)= "noDisponible()">
        <ion-icon name="book-outline" slot= "start"></ion-icon>Asignaturas
      </ion-button>

      <ion-button (click)= "noDisponible()">
        <ion-icon name="qr-code-outline" slot= "start"></ion-icon>Qr
      </ion-button>
    </div>

  </ion-content>

 <!-- Footer del home -->
<ion-footer [translucent]="true">
  <ion-toolbar >
    <h6>APP Dessarollada por equipo Thanos SPA</h6>
  </ion-toolbar>
</ion-footer>
