<!-- Header del home -->
<ion-header class="hola" [translucent]="true">
  <ion-toolbar class="navabr">
    <ion-title >
      <span>Thanos-APP</span> <!-- Estilo del título -->
    </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content>

  <div class="info-avatar">
    <ion-avatar slot="start">
      <ion-img src="assets/images/foto.png" alt="Foto de usuario" />
    </ion-avatar>
  </div>

  <h1 class="welcome-title">{{username}}</h1> <!-- Estilo del título de bienvenida -->
  <h2>"ThanosApp es una aplicación desarrollada por estudiantes de informática para gestionar la asistencia de manera eficiente.
    Esta herramienta permite a los usuarios registrar y controlar las asistencias en clases o eventos, facilitando el seguimiento y ofreciendo una experiencia simple e intuitiva.
    Ideal para estudiantes y profesores, ThanosApp moderniza el proceso de control de asistencia."</h2>
    
  <div class="grid-container">
    <ion-button (click)="irAsistencias()">
      <ion-icon name="book-outline" slot="start"></ion-icon>Asignaturas
    </ion-button>

    <ion-button (click)="irAQr()">
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>Qr
    </ion-button>

  </div>

</ion-content>

<!-- Footer del home -->
<ion-footer class="hola" [translucent]="true">
  <ion-toolbar class="hola">
    <h6 class="hola">APP Desarrollada por equipo Thanos SPA</h6> <!-- Estilo del footer -->
  </ion-toolbar>
</ion-footer>

