<ion-header class="hola" [translucent]="true">
  <ion-toolbar class="navabr">
    <ion-title>Registro de Asistencias</ion-title>
  </ion-toolbar>
</ion-header>



  <ion-card (click)="RegistroQR()">
    <ion-card-header>
      <ion-card-title>PROGRAMACION DE APLICACIONES MOVILES_002D</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aquí puedes ver el registro de asistencias de las clases de tu curso.
    </ion-card-content>
  </ion-card>

  <ion-content>
    <ion-button expand="block" (click)="volverPaginaPrincipal()">
      <ion-icon name="arrow-back" slot="start"></ion-icon>Volver
  </ion-button>

</ion-content>

<ion-footer class="aaaa">
  <ion-toolbar class="aaaa">
    <h6 class="aaaa">APP Desarrollada por equipo Thanos</h6>
  </ion-toolbar>
</ion-footer>
