<ion-header [translucent]="true">
  <ion-toolbar class="navabr">
    <ion-title class="tit">Thanos-APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Bienvenido</h1>

  <h2>Inicia sesión</h2>

  <ion-item class="ion-padding">
    <ion-img src="assets/images/login.svg"></ion-img>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="username" placeholder="Usuario"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-top">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"  placeholder="Contraseña"></ion-input>
  </ion-item>

  <ion-button class="ion-margin-top" expand="block" (click)="validarCredenciales()">
    Ingresar
  </ion-button>

  <ion-button (click) = "noDisponible()" >¿Olvidaste tu Contraseña?</ion-button>
</ion-content>